h1{
    text-align: center;
    color: #000000;
    font-family: Arial, sans-serif;
}
form {
    
    width: 300px;
    margin:  auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input{
    
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007BFF;
    text-decoration: none;
}
